/*------------------------------BODY/GRID STYLES*/
body{
    font-family: 'Montserrat', sans-serif;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "nav"
    "header"
    "map"
    "footer";
    grid-gap:10px;
    background-image: linear-gradient(to left, rgba(119, 136, 153, 0.062), rgba(211, 211, 211, 0.068));
}
/*------------------------------HEADER STYLES*/
header{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    grid-area: nav;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:  "title navigation";
    border-bottom: 1px solid #474440;
}
#title{
    grid-area: title;
    text-align: right;
    padding:10px;
    border-radius: .3em;
    color: #474440;
    background-color: #968e856c;
    text-shadow: 1px 1px #FFCAB1;   
}
/*------------------------------NAV STYLES*/
#navigation{
    grid-area: navigation;
    color: #474440;
}
ul{
    float:right;
    border-bottom: 1px solid #474440;
}
li{
   display: inline;
}
/*------------------------------LINK STYLES*/
a{
    color:#474440;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    background-color:lightgrey;
}
a:active{
    text-decoration: none;
}
/*------------------------------DESCRIPTION*/
p{
    grid-area: header;
    color: #474440;
}
/*------------------------------MAP STYLES*/
#map{
    border-radius: .5em;
    height:60vh;
    grid-area: map;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-template-rows: repeat(3, minmax(0,1fr));
    align-items: center;
    justify-items: center;
} 
/*------------------------------SIDEBAR STYLES*/
#sidebar{
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: white;
    color: #474440;
    margin-left: 20px;
    height: auto;
    width: 100%;
    z-index: 9999;
    border: 2px solid #47444094;
    border-radius: .3em;
    display: grid;
    grid-template-areas: 
    "nav"
    "text";
    grid-template-columns: 1fr;
    grid-template-rows: .2fr auto;
}
#sidebartext{
    grid-area: "text";
    margin: 4px;
}
/*---------------------SIDE BAR NAV*/
    /* Add a black background color to the top navigation */
#sidebarnav{
    grid-area: "nav";
    background-color: #474444;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  #sidebarnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  #sidebarnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  #sidebarnav a.active {
    background-color: #04AA6D;
    color: white;
  }
/*------------------------------FOOTER STYLES*/
footer{
    grid-area: footer;
    color: #474440;
}
/*------------------------------MODAL STYLES*/
/* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 