body{
    font-family: 'Montserrat', sans-serif;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    "nav"
    "header"
    "map"
    "footer";
    grid-gap:10px;
    background-color: rgb(245, 192, 182);

}

nav{
    grid-area: nav;
}

ul{
    background-color: darksalmon;
}

li{
    display: inline;
}
a:hover{
    background-color:lightgrey;
}

header{
    grid-area: header;
}


#map{
    border-radius: .5em;
    height:80vh;
    width: 3fr;
    grid-area: map;
} 

footer{
    grid-area: footer;
}